<!-- <app-progress-bar *ngIf="isProgressBarVisible" [jsonDef]="progressBarJsonDef"></app-progress-bar> -->
<div class="popup add-employee">
    <div class="popup-header">
        <h2>{{lblHeaderData}}</h2>
    </div>
    <div class="popup-content-container">
        <form [formGroup]="addOrUpdateEmpform" (ngSubmit)="onFormSubmit()">
            <div mat-dialog-content class="content">
                <div class="row">
                    <mat-form-field appearance="outline">
                        <mat-label>First name</mat-label>
                        <input matInput type="text" placeholder="Ex. John" formControlName="firstName">
                        <mat-error *ngIf="checkError('firstName', 'required')">firstName is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Ex. Singh" formControlName="lastName">
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" placeholder="Ex. test@gmail.com" formControlName="email">
                        <mat-error *ngIf="checkError('email', 'required')">Email is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Date of birth</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="dob">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-radio-group aria-label="Select an option" formControlName="gender">
                        <mat-label><b>Gender</b></mat-label>
                        <mat-radio-button value="male">Male</mat-radio-button>
                        <mat-radio-button value="female">Female</mat-radio-button>
                        <mat-radio-button value="others">Others</mat-radio-button>
                        <mat-error *ngIf="checkError('gender', 'required')">Gender is required</mat-error>
                    </mat-radio-group>
                </div>

                <div class="row">
                    <mat-form-field appearance="outline">
                        <mat-label>Education</mat-label>
                        <mat-select formControlName="education">
                            <mat-option *ngFor="let val of education" [value]="val">{{val}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Salary</mat-label>
                        <input matInput placeholder="Ex. 15000" type="number" formControlName="salary">
                        <mat-hint>In rupees</mat-hint>
                        <mat-error *ngIf="checkError('salary', 'required')">Salary is required</mat-error>
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field appearance="outline">
                        <mat-label>Date of Join</mat-label>
                        <input matInput [matDatepicker]="picker2" formControlName="dateOfJoin">
                        <mat-error *ngIf="checkError('dateOfJoin', 'required')">Join Date is required</mat-error>
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Mobile No</mat-label>
                        <input matInput type="number" placeholder="mobile no." formControlName="mobileNo">
                        <mat-error *ngIf="checkError('mobileNo', 'required')">Mobile No is required</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div mat-dialog-actions class="action">
                <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
                <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
            </div>
        </form>
    </div>
</div>