.popup {
  width: 700px;
  height: 400px;
}

.add-new-size-popup .popup-content-container {
  margin-top: 0;
  height: 172px;
}

.popup-header {
  padding: 35px 35px 0px 35px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ebe5e5;
}
.popup-header .fa-close {
  font-size: 20px;
}

.popup-content-container {
  margin-top: 10px;
  padding: 10px 35px;
  position: relative;
  overflow-y: auto;
}

.popup-content-container .toolbar-container {
  padding: 0px;
}

.popup-footer-container {
  margin-bottom: 35px;
  padding: 0px 35px;
  margin-top: 20px;
  display: flow-root;
}

.popup-footer-container .mat-mdc-form-field-error {
  text-align: center;
  margin-bottom: 10px;
  line-height: 10px;
}

.popup-footer-container .cancel-button,
.popup-footer-container .save-button {
  display: inline-block;
  padding: 10px;
}
