<app-progress-bar *ngIf="isProgressBarVisible" [jsonDef]="progressBarJsonDef"></app-progress-bar>
<div class="popup">
    <div class="popup-header">
        <h2>{{lblHeader}}</h2>
    </div>
    <div class="popup-content-container">
        <div class="card-block">
            <form class="form-material">
                <div class="form-group form-primary">
                    <input type="text" name="itemName" [(ngModel)]="itemName" class="form-control" required="">
                    <span class="form-bar"></span>
                    <label class="float-label">Item Name</label>
                </div>
                <div class="form-group form-primary">
                    <input type="number" name="price" [(ngModel)]="price" class="form-control" required="">
                    <span class="form-bar"></span>
                    <label class="float-label">Price</label>
                </div>
                <div class="form-group form-primary">
                    <mat-form-field appearance="fill">
                        <mat-label>Unit</mat-label>
                        <mat-select [(ngModel)]="ddlSelectedUnitOptionId" name="unit">
                            <mat-option *ngFor="let option of data.ddlUnitData" [value]="option.Id">
                                {{option.UnitName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- <select name="select" class="form-control" [(ngModel)]="ddlSelectedUnitOptionId">
                        <option [value]="option.Id" *ngFor="let option of data.ddlUnitData">{{option.UnitName}}
                        </option>
                    </select> -->
                    <!-- <input type="number" name="unit" [(ngModel)]="unit" class="form-control" required="">
                    <span class="form-bar"></span>
                    <label class="float-label">Unit</label> -->
                </div>
            </form>
        </div>
    </div>
    <div class="popup-footer-container right-align">
        <div class="cancel-button">
            <button type="button" (click)="onCancel()" class="btn btn-secondary">Close</button>
        </div>
        <div class="save-button -last-child">
            <button type="button" (click)="onSave()" class="btn btn-primary">Save</button>
        </div>
    </div>
</div>